
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id Técnico</th>
            <th scope="col">Id Servicio</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tecnico of tecnicos">
            <th scope="row">{{tecnico.idTecnico}}</th>
            <td>{{tecnico.idServico}}</td>
            <td>{{tecnico.fechaInicio}}</td>
            <td>{{tecnico.fechaFin}}</td>
          </tr>
        
        </tbody>
      </table>

