<div class="container">
<h1>{{title}}</h1>
</div>
<div class="container">
    <form>
        <div class="form-group">
          <label for="idTecnico">Identificación del técnico</label>
          <input type="text" 
          class="form-control" 
          placeholder="Id técnico" 
          ([ngModel])="tecnico.idTecnico"
          name="idTecnico"
          required>
        </div>
        <div class="form-group">
          <label for="idServicio">Identificación del servicio</label>
          <input type="text" 
          class="form-control" 
          placeholder="Id servicio" 
          ([ngModel])="tecnico.idServico"
          name="idServicio"
          required>
        </div>
        <div class="form-group">
          <label for="fechaInicio">Fecha y hora inicio</label>
          <input type="datetime-local" 
          class="form-control" 
          ([ngModel])="tecnico.fechaInicio"
          name="fechaInicio"
          required>
        </div>
        <div class="form-group">
          <label for="fechaFin">Fecha y hora fin</label>
          <input type="datetime-local" 
          class="form-control" 
          ([ngModel])="tecnico.fechaFin"
          name="fechaFin"
          >
        </div>
        <button type="button" class="btn btn-success" (click)='guardar()'>Guardar</button>
      </form>
      

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id Técnico</th>
            <th scope="col">Id Servicio</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tecnico of tecnicos">
            <th scope="row">{{tecnico.idTecnico}}</th>
            <td>{{tecnico.idServico}}</td>
            <td>{{tecnico.fechaInicio}}</td>
            <td>{{tecnico.fechaFin}}</td>
          </tr>
        
        </tbody>
      </table>
      
</div>
