<!-- <div class="container">
    <h1 class="text-center">{{title}}</h1>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Registro de técnicos</h3>
                <app-crear-tecnico></app-crear-tecnico>
            </div>
            <div class="col-sm-6">
                <h3>Listado de técnicos</h3>
                <app-registro ></app-registro>
            </div>
        </div>
    </div> -->

    <router-outlet></router-outlet>

