<form  (ngSubmit)="guardar()">
    <div class="form-group">
      <label for="idTecnico">Identificación del técnico</label>
      <input type="text" 
      class="form-control" 
      placeholder="Id técnico" 
      [(ngModel)]="tecnico.idTecnico"
      name="idTecnico"
      fromControlName="idTecnico"
      required>
    </div>
    <div class="form-group">
      <label for="idServicio">Identificación del servicio</label>
      <input type="text" 
      class="form-control" 
      placeholder="Id servicio" 
      [(ngModel)]="tecnico.idServico"
      name="idServicio"
      fromControlName="idServico"
      required>
    </div>
    <div class="form-group">
      <label for="fechaInicio">Fecha y hora inicio</label>
      <input type="datetime-local" 
      class="form-control" 
      [(ngModel)]="tecnico.fechaInicio"
      name="fechaInicio"
      fromControlName="fechaInicio"
      required>
    </div>
    <div class="form-group">
      <label for="fechaFin">Fecha y hora fin</label>
      <input type="datetime-local" 
      class="form-control" 
      [(ngModel)]="tecnico.fechaFin"
      fromControlName="fechaFin"
      name="fechaFin"
      >
    </div>
    <button type="subtmit" role="button" class="btn btn-success btn-lg btn-block" >Guardar</button>
    <hr>
  </form>
